@font-face {
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    font-family: Roboto-Regular;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-low {
    padding: 48px 0 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    margin: 24px;
}

.header-links {
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.header-left {
    display: flex;
    flex-direction: column;
    margin: 36px;
}

.header-img {
    width: 480px;
    height: auto;
}

.head-main {
    font-size: 48px;
    font-weight: bold;
}

.head-sub {
    font-size: 18px;
}

.button-container {
    display: flex;
    flex: 0;
}

.button-signup {
    color: #dddddd;
    background: #3882F6;
    border: 1px #3882F6;
    padding: 8px 36px 8px 36px;
    font-size: 18px;
    font-weight: bold;
}

.content {
    padding: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;

    gap: 48px;
}

.cont-top {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.item-img {
    width: 180px;
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin: 24px;
}

.item-text {
    padding: 12px;
}

.footer {
    padding: 24px;
    display: flex;
    justify-content: center;
}